body {
  background: #FAFBFC;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  max-width: 400px;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  border: 1px solid #CCC;
  padding: 0.25rem 1rem;
}

th:last-child, td:last-child {
  width: 75px;
  text-align: center;
}
